.hello-world {
    color: gray;
}

.hello-world:hover {
    color: black;
}

.content {
    font-size: 15px;
    transition: font-size 2s;
    margin-bottom: 12px;
}

.content:last-child {
    margin-bottom: 0;
}

.content:hover {
    font-size: 20px;
}